* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  transition: 0.3s;

  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 30px;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

select,
button {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button {
  cursor: pointer;
}

.board {
  width: 540px;
  height: 540px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: 3px solid #222;
  background: white;
  margin: 0 auto;
}

.cell {
  border: 1px solid #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.cell.fixed {
  font-weight: bold;
  color: #111;
  background: #fafafa;
}

.cell.user {
  color: #1565c0;
}

.cell.selected {
  background: #cfe8ff;
}

.cell.highlight {
  background: #dbeafe;
}

.cell.error {
  background: #ffd6d6 !important;
  color: #c62828 !important;
  font-weight: bold;
}

.cell:nth-child(3n) {
}
